#Set language to Obj-C so that Travis runs on OSX, so that builds for Apple devices will run
language: objective-c

os: osx
osx_image: xcode10

#Ruby version
rvm:
- 2.2

cache:
    directories:
    - unity_download_cache

#Called before the install phase
#Mark the scripts executable
before_install:
- chmod -R a+rw ./unity_download_cache
- chmod a+x ./TravisCI/install.sh
- chmod a+x ./TravisCI/build.sh

#Install Unity
install:
- ./TravisCI/install.sh

#Run the build script
script:
- ./TravisCI/build.sh

deploy:
    provider: releases
    api_key: "${GITHUB_OAUTH_TOKEN}"
    skip_cleanup: true
    draft: true
  
    target_commitish: $TRAVIS_COMMIT
    tag_name: $TRAVIS_TAG
    
    name: "$TRAVIS_TAG Release"
    body: "$TRAVIS_TAG Automated release from Travis CI"
    
    file: "${TRAVIS_BUILD_DIR}/DebugOnly.unitypackage"
    
    on:
        tags: true

env:
  global:
  - UNITY_NOPROXY="localhost,127.0.0.1"
  - UNITY_DOWNLOAD_CACHE="${TRAVIS_BUILD_DIR}/unity_download_cache"
  - BUILD_PATH="${TRAVIS_BUILD_DIR}"